/*
  $Id$
  - Part of TeeBX project http://code.google.com/p/teebx/
  - look at TeeBX website to get details about license
*/

.analogbar
{
	background-color: #CDDFEF;
	border: 1px solid #FFFFFF;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right : 3px;
	border-radius: 5px; /* ((inner div height)/2) + padding */
}

div.analogbar div
{
	background-color: #F58233;
	width: 50%;
	height: 12px;
}

div.analogbar p
{
	color: #000000;
	padding-top: 0px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.analogbar > div
{
	border-radius: 3px;
}
