#!/bin/sh
# $Id$
# part of BoneOS build platform (http://www.teebx.com/)
# Copyright(C) 2011 - 2013 Giovanni Vallesi.
# All rights reserved.
# 
# originally part of AskoziaPBX svn trunk revision 1514 (http://askozia.com/pbx)
# Copyright (C) 2007-2009 tecema (a.k.a IKT) <http://www.tecema.de>. All rights reserved.

PATH=/sbin:/bin:/usr/sbin:/usr/bin
export PATH

retry_count=1
until [ $retry_count -gt 5 ]
do
	echo "[mountoffload] Checking for cd drive, attempt #$retry_count ..."
	cddev=$(/sbin/sysctl -n dev.cdrom.info | /bin/busybox grep "drive name" | /bin/busybox cut -f 3)
	length=${#cddev}
	if [ "$length" -gt 2 ]; then
		# check media
		cdinfo=$(/bin/busybox blkid /dev/${cddev} | grep 'appliance.livecd')
		if [ -z "$cdinfo" ] ; then
			echo "[mountoffload] Media not found or is not a valid appliance CD-ROM, skip loading."
			break
		else
			echo "[mountoffload] Found CD-ROM,  $cdinfo, mounting..."
			mount -r /dev/${cddev} /offload
			if [ -f /offload/livecd ]; then
				echo "[mountoffload] Booting from $cdinfo..."
				exit 0
			fi
		fi
	fi
	echo "Waiting for cd drive to settle and trying again..."
	retry_count=$(( retry_count+1 ))
	sleep 1
done

# someting went wrong, output a failure message
echo "[mountoffload] Failed to find rootfs!"
echo "[mountoffload] The system was unable to find the /offload partition!"
echo "[mountoffload] Send in the output of (ls /dev), (fdisk -l) and"
echo "[mountoffload] (cat /proc/partitions) to the development team to get help."
echo "[mountoffload] Thanks...and sorry this is not already working better!"
echo "[mountoffload] Here's a prompt, see what you can see..."
exec /bin/sh

exit 1
